main{
    display: flex;
    flex-flow: column;
    align-items: center;
    color: var(--fontColor);
    margin-top: 70px;
}

main h2{
    font-size: 2.2rem;
    text-align: center;
}

#dateAndTime{
    display: flex;
    flex-flow: row;
}

#readingTime{
    display: flex;
    flex-flow: row;
    align-items: center;
}

#readingTime img{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

#readingTime p{
    margin-left: 5px;
}

#articleImg{
    width: 1000px;
    border-radius: 7px;
}

#resume{
    font-size: 1.3rem;
    width: 1000px;
    text-align: left;
    line-height: 2rem;
}

#articleLink{
    text-decoration: None;
}

button{
    background-color: var(--mainColor);
    border: 2px solid var(--secondaryColor);
    color: var(--secondaryColor);
    margin-top: 30px;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
    border-radius: 7px;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: var(--secondaryColor);
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
}

footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    color: var(--fontColor);
    margin-top: 70px;
}

#disqus_thread{
    width: 80%;
}

@media screen and (min-width: 800px) and (max-width: 1000px){
    main h2{
        font-size: 2rem;
        
    }
    
    #articleImg{
        width: 780px;
    }
    
    #resume{
        width: 750px;
    }
}

@media screen and (max-width: 500px){
    main h2{
        font-size: 1.6rem; 
    }
    
    #articleImg{
        width: 480px;
    }
    
    #resume{
        width: 450px;
        font-size: 1.1rem;
    }
}