main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
}

.categoryTitle{
    width: 80%;
    height: 50px;
    background-color: var(--secondaryColor);
    color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-top: 50px;
}

#articlesSection{
    display: flex;
    flex-flow: column;
    width: 80%;
}

.articles{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 20px;
}

.articles article{
    width: 48%;
    height: 420px;
    box-shadow: 0px 0px 5px 1px rgba(180,173,234,0.66);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(180,173,234,0.66);
    -moz-box-shadow: 0px 0px 5px 1px rgba(180,173,234,0.66);
    border-radius: 7px;
    color: var(--fontColor);
    cursor: pointer;
}

.articles article:hover{
    opacity: 80%;
}

.articleImg{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 7px;
}

.articleImg img{
    width: 100%;
    position: relative;
    bottom: 30px;
}

.articles article h2{
    position: relative;
    left: 10px;
    font-size: 1rem;
    text-align: left;
    width: 90%;
}

.date{
    position: relative;
    left: 10px;
}

.articleFooter{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.readingTime{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.readingTime img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

button{
    background-color: var(--mainColor);
    border: 2px solid var(--secondaryColor);
    color: var(--secondaryColor);
    margin-top: 30px;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
    border-radius: 7px;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: var(--secondaryColor);
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
}

@media screen and (min-width: 800px) and (max-width: 950px){
    
    .articles article{
        height: 300px;
    }

    .articleImg{
        height: 160px;
    }
    
    .articles article h2{
        top: -10px;
        font-size: 1.1rem;
        width: 310px;
    }
    
    .date{
        top: -10px;
    }
    
    .articleFooter{
        position: relative;
        top: -20px;
    }
}

@media screen and (max-width: 500px){
    .articles{
        flex-flow: column;
        align-items: center;
    }

    .articles article{
        height: 300px;
        width: 100%;
        margin-bottom: 20px;
    }

    .articleImg{
        height: 160px;
    }
    
    .articles article h2{
        top: -5px;
        font-size: 1rem;
        width: 400px;
    }
    
    .date{
        top: -5px;
    }
    
    .articleFooter{
        position: relative;
        top: -20px;
    }
}